on:
  push:
    branches:
      - main
      - master
name: "Deploy to Hosting"
jobs:
  build:
    name: Deploy to Hosting
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"

      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "2.10.2"

      - run: flutter pub get

      - name: Flutter Test
        run: flutter test

      - name: Build Flutter Android APK
        run: flutter build apk

      - name: Build Flutter Android bundle
        run: flutter build appbundle
        # run: flutter build apk --debug --split-per-abi

      - name: Build Flutter iOS
        run: |
          flutter build ios --no-codesign
          cd build/ios/iphoneos
          mkdir Payload
          cd Payload
          ln -s ../Runner.app
          cd ..
          zip -r app.ipa Payload

      - name: Build Flutter Web
        run: |
          flutter build web --release --web-renderer html
          cd build/web
          zip -r web-app.zip .

      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/bundle/release/*,build/app/outputs/apk/release/*,build/app/outputs/apk/debug/*,build/ios/iphoneos/app.ipa,build/web/web-app.zip"
          tag: v0.0.15+15
          token: ${{ secrets.TOKEN_PICKPOINTER }}

      - name: Deploy Flutter Firebase Hosting
        run: |
          sudo npm install -g firebase-tools
          firebase deploy --token ${{ secrets.TOKEN_FIREBASE }}
